.sendtext_container{
    display: flex;
    flex-direction: column;
    padding-inline: 30px;
    margin-top: 30px;
    gap: 30px;
}
.textarea_container{
    height: 60vh;
    resize: none;
    border-radius: 8px;
    border: solid gray 1px;
    padding-inline: 5px;
    padding-top: 5px;
}
.textarea_container:focus{
    outline: none;
}
.sendtext_btn{
    margin-right: 30px;
    height: 30px;
    width: 130px;
    color: white;
    background-color: rgb(101, 247, 101);
    border: none;
    border-radius: 20px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}